p {
    color: darkblue;
    
}

h3 {
    
    color: red;
}


@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}

.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
} 

* {
    box-sizing: border-box;
}

.menu {
    width: 25%;
    float: left;
}
.main {
    width: 75%;
    float: left;
}

body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/8b/54/06/8b5406a28cd14ae34b71d40a37216c84.jpg");
}
